@layer media {
	@media (min-width: 390px) {
		/* Width */ 
		.xs\:w-\[82px\] {
			width: 82px;
		}

		/* Padding */
		.xs\:px-5 {
			padding-left: 1.25rem; /* 20px */
			padding-right: 1.25rem; /* 20px */
		}
	}
}