@font-face {
	font-family: "SF Mono";
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/SFMono-Regular.otf");
}

@font-face {
	font-family: "SF Pro";
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/SFPro-Regular.otf");
}


@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Inter-Regular.woff2?v=3.19") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/Inter-Medium.woff2?v=3.19") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2");
}