<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/styles/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Button Components</title>
	</head>
	<body>
		<!-- Light Default Button -->
		<button class="py-3 px-8 lg:py-4 lg:px-10 font-medium text-lg text-blue-600 whitespace-nowrap bg-gray-150 rounded-full">
			Button
		</button>
		
		<!-- Blue Default Button -->
		<button class="py-3 px-8 lg:py-4 lg:px-10 font-medium text-lg text-white whitespace-nowrap bg-aqua-500 rounded-full">
			Button
		</button>

		<!-- Transparent Default Button -->
		<button class="py-3 px-8 lg:py-4 lg:px-10 font-medium text-lg text-white whitespace-nowrap border border-white border-opacity-60 rounded-full">
			Button
		</button>
	</body>
</html>
