@font-face {
	font-family: 'SF Mono';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/SFMono-Regular.otf") format("otf");
}

@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Inter-Normal.woff2?v=3.19") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/Inter-Medium.woff2?v=3.19") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2");
}

@layer normalise, base, utilities;

@layer base {
	:root {
		--lightblue-100: 199 88% 87%;
		--lightblue-200: 217 96% 81%;

		--blue-200: 213 71% 95%;
		--blue-300: 210 95% 77%;
		--blue-500: 202 71% 56%;
		--blue-600: 212 76% 52%;

		--purple-200: 254 55% 90%;
		--purple-300: 271 90% 88%;

		--pink-200: 3 89% 82%;

		--orange-200: 15 94% 81%;

		--yellow-200: 35 100% 91%;

		--gray-300: 211 30% 68%;
		--gray-400: 211 30% 68%;
		--gray-700: 240 7% 15%;

		color: hsl(240, 16%, 6%);
		background-color: hsl(0, 0%, 100%);
	}
	
	@media (prefers-color-scheme: dark) {
		:root {
			color: hsl(0, 0%, 100%);
			background-color: hsl(240, 16%, 6%);
		}
	}

	*,
	::before,
	::after {
		--bg-color: transparent;
		--gradient-from-position: ;
		--gradient-via-position: ;
		--gradient-to-position: ;

		background-color: var(--bg-color);
	}
}

@layer utilities {
	/* Display */
	.hidden {
		display: none;
	}

	/* Position */
	.relative {
		position: relative;
	}

	.absolute {
		position: absolute;
	}

	.top-1 {
		top: 0.25rem; /* 4px */
	}

	.top-1\/2 {
		top: 50%;
	}

	.bottom-0 {
		bottom: 0px;
	}

	.bottom-1 {
		bottom: 0.25rem; /* 4px */
	}

	.-left-1 {
		left: -0.25rem; /* 4px */
	}

	.left-0 {
		left: 0px;
	}

	.left-1\/2 {
		left: 50%;
	}

	.right-1 {
		right: 0.25rem; /* 4px */
	}

	.right-3 {
		right: 0.75rem; /* 12px */
	}

	/* Width */
	.max-w-max {
		max-width: max-content;
	}

	.w-full {
		width: 100%;
	}

	.w-12 {
		width: 3rem; /* 48px */
	}

	.w-16 {
		width: 4rem; /* 64px */
	}

	.w-\[104px\] {
		width: 6.5rem;  /* 104px */
	}

	.w-\[200px\] {
		width: 12.5rem;  /* 200px */
	}

	.w-\[336px\] {
		width: 21rem;  /* 336px */
	}

	/* Height */
	.max-h-min {
		max-height: min-content;
	}

	.max-h-max {
		max-height: max-content;
	}

	.h-full {
		height: 100%;
	}

	.h-12 {
		height: 3rem; /* 48px */
	}

	.h-16 {
		height: 4rem; /* 64px */
	}

	.h-\[336px\] {
		height: 21rem;  /* 336px */
	}

	/* Flex */
	.flex {
		display: flex;
	}

	.flex-col {
		flex-direction: column;
	}

	.flex-row {
		flex-direction: row;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.items-center {
		align-items: center;
	}

	.justify-center {
		justify-content: center;
	}

	.justify-between {
		justify-content: space-between;
	}

	/* Grid */
	.grid {
		display: grid;
	}

	.col-span-2 {
		grid-column: span 2 / span 2;
	}

	.auto-cols-min {
		grid-auto-columns: min-content;
	}

	/* Gap */
	.gap-1 {
		gap: 0.25rem; /* 4px */
	}

	.gap-2 {
		gap: 0.5rem; /* 8px */
	}

	.gap-3 {
		gap: 0.75rem; /* 12px */
	}

	.gap-4 {
		gap: 1rem; /* 16px */
	}

	.gap-6 {
		gap: 1.5rem; /* 24px */
	}

	.gap-8 {
		gap: 2rem; /* 32px */
	}

	.gap-13 {
		gap: 3.25rem; /* 52px */
	}

	.gap-y-6 {
		row-gap: 1.5rem; /* 24px */
	}

	.gap-x-2 {
		column-gap: 0.5rem; /* 8px */
	}

	.gap-x-3 {
		column-gap: 0.75rem; /* 12px */
	}

	/* Margin */
	.m-8 {
		margin: 2rem; /* 32px */
	}

	.mx-auto {
		margin-left: auto;
		margin-right: auto;
	}

	.-mt-1 {
		margin-top: -0.25rem; /* -4px */
	}

	.-ml-4 {
		margin-left: -1rem; /* -16px */
	}

	.ml-4 {
		margin-left: 1rem; /* 16px */
	}

	/* Padding */
	.p-7 {
		padding: 1.75rem; /* 28px */
	}

	.p-\[10px\] {
		padding: 0.625rem; /* 28px */
	}

	.py-3 {
		padding-top: 0.75rem; /* 12px */
		padding-bottom: 0.75rem; /* 12px */
	}

	.py-\[6px\] {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.py-6 {
		padding-top: 1.5rem; /* 24px */
		padding-bottom: 1.5rem; /* 24px */
	}

	.px-3 {
		padding-left: 0.75rem; /* 12px */
		padding-right: 0.75rem; /* 12px */
	}

	.px-5 {
		padding-left: 1.25rem; /* 20px */
		padding-right: 1.25rem; /* 20px */
	}

	.px-7 {
		padding-left: 1.75rem; /* 28px */
		padding-right: 1.75rem; /* 28px */
	}

	.px-8 {
		padding-left: 2rem; /* 32px */
		padding-right: 2rem; /* 32px */
	}

	.pt-13 {
		padding-top: 3.25rem; /* 52px */
	}

	.pb-8 {
		padding-bottom: 2rem; /* 32px */
	}

	/* Fonts */
	.font-inter {
		font-family: Inter;
	}

	.font-sf-mono {
		font-family: 'SF Mono';
	}

	.font-normal {
		font-weight: 400;
	}

	.font-medium {
		font-weight: 500;
	}

	.font-semibold {
		font-weight: 600;
	}

	/* Text */
	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.text-sm {
		font-size: 0.875rem/* 14px */;
		line-height: 1.25rem/* 20px */;
	}

	.text-lg {
		font-size: 1.125rem; /* 18px */
		line-height: 1.5rem; /* 24px */
	}

	.text-\[32px\] {
		font-size: 2rem;  /* 32px */
		line-height: 2.25rem; /* 36px */
	}

	.text-\[46px\] {
		font-size: 2.875rem;  /* 46px */
		line-height: 3.25rem; /* 52px */
	}

	.text-white {
		--text-opacity: 1;
		color: hsl(0 0% 100% / var(--text-opacity))
	}

	.text-black {
		--text-opacity: 1;
		color: hsl(240 16% 6% / var(--text-opacity))
	}

	.text-blue-500 {
		--text-opacity: 1;
		color: hsl(var(--blue-500) / var(--text-opacity))
	}

	.text-blue-600 {
		--text-opacity: 1;
		color: hsl(var(--blue-600) / var(--text-opacity))
	}

	.text-opacity-40 {
		--text-opacity: 0.4;
	}
	
	.text-opacity-50 {
		--text-opacity: 0.5;
	}

	.whitespace-nowrap {
		white-space: nowrap;
	}

	/* Background */
	.bg-transparent {
		--bg-color: transparent
	}

	.bg-white {
		--bg-opacity: 1;
		--bg-color: hsl(0 0% 100% / var(--bg-opacity));
	}

	.bg-black {
		--bg-opacity: 1;
		--bg-color: hsl(240 16% 6% / var(--bg-opacity));
	}

	.bg-blue-200 {
		--bg-opacity: 1;
		--bg-color: hsl(var(--blue-200) / var(--bg-opacity));
	}

	.bg-blue-500 {
		--bg-opacity: 1;
		--bg-color: hsl(var(--blue-500) / var(--bg-opacity))
	}

	.bg-gray-400 {
		--bg-opacity: 1;
		--bg-color: hsl(var(--gray-400) / var(--bg-opacity));
	}

	.bg-gray-700 {
		--bg-opacity: 1;
		--bg-color: hsl(var(--gray-700) / var(--bg-opacity));
	}

	.bg-full-bleed {
		box-shadow: 0 0 0 100vmax var(--bg-color);
		clip-path: inset(0 -100vmax);
	}

	.bg-opacity-50 {
		--bg-opacity: 0.5;
	}

	/* Border */
	.border {
		border-width: 1px;
	}

	.border-white {
		--border-opacity: 1;
		border-color: hsl(0 0% 100% / var(--border-opacity));
	}

	.border-opacity-60 {
		--border-opacity: 0.6;
	}

	.rounded-xl {
		border-radius: 0.75rem; /* 12px */
	}
	
	.rounded-3xl {
		border-radius: 1.5rem; /* 24px */
	}

	.rounded-full {
		border-radius: 9999px;
	}

	.rounded-t-md {
		border-top-left-radius: 0.375rem; /* 6px */
		border-top-right-radius: 0.375rem; /* 6px */
	}

	.rounded-t-xl {
		border-top-left-radius: 0.75rem; /* 12px */
		border-top-right-radius: 0.75rem; /* 12px */
	}

	.rounded-b-md {
		border-bottom-right-radius: 0.375rem; /* 6px */
		border-bottom-left-radius: 0.375rem; /* 6px */
	}

	.rounded-b-xl {
		border-bottom-right-radius: 0.75rem; /* 12px */
		border-bottom-left-radius: 0.75rem; /* 12px */
	}

	/* Gradients */
	.bg-gradient {
		--gradient-direction: to bottom;
		--gradient-to: transparent var(--gradient-to-position);
		--gradient-stops: var(--gradient-from), var(--gradient-to);

		background-image: linear-gradient(var(--gradient-direction), var(--gradient-stops));
	}

	.direction-\[207deg\] {
		--gradient-direction: 207deg;
	}

	.direction-\[233deg\] {
		--gradient-direction: 233deg;
	}

	.direction-\[297deg\] {
		--gradient-direction: 297deg;
	}

	.direction-\[340deg\] {
		--gradient-direction: 340deg;
	}

	.from-lightblue-200 {
		--gradient-from: hsl(var(--lightblue-200)) var(--gradient-from-position);
	}

	.from-pink-200 {
		--gradient-from: hsl(var(--pink-200)) var(--gradient-from-position);
	}

	.from-orange-200 {
		--gradient-from: hsl(var(--orange-200)) var(--gradient-from-position);
	}

	.from-blue-300 {
		--gradient-from: hsl(var(--blue-300)) var(--gradient-from-position);
	}

	.to-lightblue-100 {
		--gradient-to: hsl(var(--lightblue-100)) var(--gradient-to-position);
	}

	.to-purple-200 {
		--gradient-to: hsl(var(--purple-200)) var(--gradient-to-position);
	}

	.to-yellow-200 {
		--gradient-to: hsl(var(--yellow-200)) var(--gradient-to-position);
	}

	.to-purple-300 {
		--gradient-to: hsl(var(--purple-300)) var(--gradient-to-position);
	}

	.to-blue-600 {
		--gradient-to: hsl(var(--blue-600)) var(--gradient-to-position);
	}

	/* Transform */
	.-translate-1\/2 {
		--translate-x: -50%;
		--translate-y: -50%;

		transform: translate(var(--translate-x), var(--translate-y));
	}

	/* Cursor */
	.cursor-default {
		cursor: default;
	}

	@media(prefers-color-scheme: dark) {
		/* Text */
		.dark\:text-white {
			--text-opacity: 1;
			color: hsl(0 0% 100% / var(--text-opacity))
		}

		/* Background */
		.dark\:bg-transparent {
			--bg-color: transparent
		}
		
		/* Border */
		.dark\:border {
			border-width: 1px;
		}
	
		.dark\:border-white {
			--border-opacity: 1;
			border-color: hsl(0 0% 100% / var(--border-opacity));
		}
	
		.dark\:border-opacity-60 {
			--border-opacity: 0.6;
		}
		
	}

	@media (min-width: 480px) {
		.xs\:flex-row {
			flex-direction: row;
		}
	}

	@media (min-width: 640px) {
		.sm\:flex {
			display: flex;
		}

		.sm\:flex-row {
			flex-direction: row;
		}
	}

	@media (min-width: 768px) {
		.md\:flex-row {
			flex-direction: row;
		}
	}

	@media (min-width: 1024px) {
		.lg\:flex-row {
			flex-direction: row;
		}
	}

	@media (min-width: 1280px) {
		.xl\:flex-row {
			flex-direction: row;
		}
	}

	@media (min-width: 1440px) {
		.\32xl\:flex-row {
			flex-direction: row;
		}
	}

	@media (min-width: 1600px) {
		.\33xl\:flex-row {
			flex-direction: row;
		}
	}
}

@layer normalise {
	*,
	:before,
	:after {
		box-sizing: border-box;
		border-width: 0;
		border-style: solid;
		border-color: #e5e7eb
	}

	:before,
	:after {
		--tw-content: ""
	}

	html {
		line-height: 1.5;
		-webkit-text-size-adjust: 100%;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		font-family: Inter, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
		font-feature-settings: normal;
		font-variation-settings: normal
	}

	body {
		margin: 0;
		line-height: inherit
	}

	hr {
		height: 0;
		color: inherit;
		border-top-width: 1px
	}

	abbr:where([title]) {
		-webkit-text-decoration: underline dotted;
		text-decoration: underline dotted
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: inherit;
		font-weight: inherit
	}

	a {
		color: inherit;
		text-decoration: inherit
	}

	b,
	strong {
		font-weight: bolder
	}

	code,
	kbd,
	samp,
	pre {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
		font-size: 1em
	}

	small {
		font-size: 80%
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline
	}

	sub {
		bottom: -.25em
	}

	sup {
		top: -.5em
	}

	table {
		text-indent: 0;
		border-color: inherit;
		border-collapse: collapse
	}

	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit;
		font-feature-settings: inherit;
		font-variation-settings: inherit;
		font-size: 100%;
		font-weight: inherit;
		line-height: inherit;
		color: inherit;
		margin: 0;
		padding: 0
	}

	button,
	select {
		text-transform: none
	}

	button,
	[type=button],
	[type=reset],
	[type=submit] {
		-webkit-appearance: button;
		appearance: button;
		background-color: transparent;
		background-image: none;
		cursor: pointer
	}

	:-moz-focusring {
		outline: auto
	}

	:-moz-ui-invalid {
		box-shadow: none
	}

	progress {
		vertical-align: baseline
	}

	::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		height: auto
	}

	[type=search] {
		-webkit-appearance: textfield;
		appearance: textfield;
		outline-offset: -2px
	}

	::-webkit-search-decoration {
		-webkit-appearance: none
	}

	::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit
	}

	summary {
		display: list-item
	}

	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	hr,
	figure,
	p,
	pre {
		margin: 0
	}

	fieldset {
		margin: 0;
		padding: 0
	}

	legend {
		padding: 0
	}

	ol,
	ul,
	menu {
		list-style: none;
		margin: 0;
		padding: 0
	}

	dialog {
		padding: 0
	}

	textarea {
		resize: vertical
	}

	input::-moz-placeholder,
	textarea::-moz-placeholder {
		opacity: 1;
		color: #9ca3af
	}

	input::placeholder,
	textarea::placeholder {
		opacity: 1;
		color: #9ca3af
	}

	button,
	[role=button] {
		cursor: pointer
	}

	:disabled {
		cursor: not-allowed
	}

	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		display: block;
	}

	img,
	video {
		max-width: 100%;
		height: auto
	}

	[hidden] {
		display: none
	}

	input {
		font-size: 1rem;
		line-height: 1.5rem
	}
}